# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Autotools
Makefile
Makefile.in
.deps
.libs
*.la
*.lo
/aclocal.m4
/configure
/config.*
/autom4te.cache
/libtool
/stamp-h1
.dirstamp
/balde.pc

# git-version-gen
/build-aux/*
!/build-aux/git-version-gen
/.version

# doxygen
/Doxyfile
/doc/build/

# installed .m4 files
/m4/*.m4

# balde-template-gen
/balde-template-gen

# balde-quickstart
/balde-quickstart
/src/quickstart/project.c
/src/quickstart/project.h

# tests
/tests/check_app
/tests/check_cgi
/tests/check_exceptions
/tests/check_datetime
/tests/check_fcgi
/tests/check_httpd
/tests/check_quickstart
/tests/check_requests
/tests/check_resources
/tests/check_responses
/tests/check_routing
/tests/check_sessions
/tests/check_stdin
/tests/check_template
/tests/check_template_helpers
/tests/check_utils
/tests/check_multipart
/tests/*.log
/tests/*.trs
/tests/valgrind-*.xml
/tests/resources.c
/tests/resources.h
/tests/utils.c

# examples
/examples/hello
/examples/hello-with-cookies
/examples/hello-with-static
/examples/hello-with-form
/examples/hello-with-template
/examples/hello-with-url_for
/examples/hello-with-auth
/examples/static-resources.c
/examples/static-resources.h
/examples/templates/*.c
/examples/templates/*.h

# leg generated source
/src/theme/parser-grammar.c

# tarballs
balde-*.tar.*

/build/
