# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Autotools
Makefile
Makefile.in
.deps
.libs
*.la
*.lo
/aclocal.m4
/configure
/config.*
/autom4te.cache
/libtool
/stamp-h1
.dirstamp
/balde.pc

# git-version-gen
/build-aux/*
!/build-aux/git-version-gen
/.version

# doxygen
/Doxyfile
/doc/build/

# installed .m4 files
/m4/*.m4

# balde-template-gen
/bin/balde-template-gen

# tests
/tests/check_app
/tests/check_exceptions
/tests/check_resources
/tests/check_routing
/tests/check_stdin
/tests/check_template
/tests/check_wrappers
/tests/*.log
/tests/*.trs
/tests/resources.c
/tests/resources.h

# examples
/examples/hello
/examples/hello-with-cookies
/examples/hello-with-static
/examples/hello-with-form
/examples/hello-with-template
/examples/resources.c
/examples/resources.h
/examples/templates/*.c
/examples/templates/*.h

# tarballs
balde-*.tar.xz
