# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Autotools
Makefile
Makefile.in
.deps
.libs
*.la
*.lo
/aclocal.m4
/configure
/config.*
/autom4te.cache
/libtool
/stamp-h1
.dirstamp
/build-aux/*

# installed .m4 files
/m4/*.m4

# main binary
/{{APP_BINARY_NAME}}

# built sources
/src/static/*.c
/src/static/*.h
/src/templates/*.c
/src/templates/*.h

# tests
/tests/check_foo

# tarballs
*.tar.*
